.nav-header {
  display: flex;
  justify-content: space-around;
  background-color: #152850;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

.website-logo {
  width: 100px;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
